.tabbed-content {
    margin: 8px 0 16px;

    button {
        font-family: var(--font-inter);
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
        color: #F7F7F2;

       &.border-color{
        border-color: #F7F7F2 !important;

        }
    }

}