VITE_BASE_URL=https://community.kimanilife.com
VITE_API_URL=https://community.kimanilife.com/api
VITE_AUTUMN_API_URL=https://community.kimanilife.com/autumn
VITE_DEFAULT_SERVER_ID=01HP41709DFJP1DRSTSA88J81A
VITE_GOOGLE_MAPS_API_KEY=AIzaSyAHFo6a0yqcyCnr1nZn4n65GF1DzVcb6uY