.tabs {
    display: flex;
    margin-top: 20px;
    overflow-x: scroll;
    margin-right: -10px;
}
.tab {
    cursor: pointer;
    padding: 0 0 6px;
    border-bottom: 2px solid transparent;
    margin-right: 20px;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.2s;
    &:hover,
    &.active {
        font-weight: bold;
        border-bottom-color: currentColor;
    }
}
