.header {
    background-color: rgb(2, 2, 2);
    padding: 15px 25px 0px;
    border-radius: 0px 0 20px 20px;
    margin: 0 0px 16px;
    z-index: 1;
    position: relative;
    .hero {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px;
        font-weight: 600;
        white-space: nowrap;
        text-overflow: ellipsis;
        gap: 0px;
    }
}

.menu {
    position: relative;
    z-index: 10000;

    .items {
        color: white;
        display: flex;
        align-items: center;
    }
}

.logo {
    picture {
        display: block;
        width: 120px;
        height: 35.5px;
    }
}